/* Add maven for code font (keep other xaringan defaults */
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;400;500;600&display=swap');


body {
 font-family: 'Rasa', serif;  
  /*text-align: justify;*/
  text-justify: inter-word;
  line-height: 150%;
}
h1, h2, h3 {
  font-family: 'Rasa';
  font-weight: normal;
  line-height: 100%;

}
#department-of-psychiatry-faculty-of-medicine-university-of-s-o-paulo-brazil {
  color: #c31919;
  font-size: 1.2rem;
}

.small { font-size: 70% }

/* Title slide */

/* H1 fonts */
.title-slide h1 {
  color: #515151;
  padding-top: 0px;
  font-weight: normal;
  font-size: 50px;

  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

/* H2 fonts */
.title-slide h2 {
  color: #2A6F9A;
  font-size: 35px;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
}

.title-slide h3 {
  color: #666666;
  font-size: 35px;
  text-align: right;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
  line-height: 0.2
}

.pull-left {
  font-size: 1.2rem;
  float: left;
  width: 47%;
}
.pull-right {
  font-size: 1.2rem;
  float: right;
  width: 47%;
}

.v-center {

  padding: 50px 0 50px;

}

/* Footer */

div.my-footer {
    background-color: #024F84;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
}
div.my-footer span {
    font-size: 12pt;
    color: #FFFFFF;
    position: absolute;
    left: 15px;
    bottom: 12px;
}
div.my-footer a{
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

